body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

nav {
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px 20px 20px;
    background-color: #f8f8f8;
}

.section {
    background-color: #ccc;
    padding: 20px;
    border-radius: 8px;
}

.section h2 {
    margin-top: 0;
}

.ordered-list, .list, .iframe, .table {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
}

ol, ul {
    padding-left: 20px;
    margin: 0;
}

.monuments li {
    color: #4183c4; /* Cor azul claro */
}

.monuments li.italic {
    font-style: italic;
}

.monuments li.bold {
    font-weight: bold;
    color: black; /* Negrito com cor preta */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.iframe iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}


.list, .ordered-list, .iframe, .table {
    height: auto;
    min-height: 80px;
}
