/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Fonte padrão */
}

/* Corpo geral */
body {
  font-family: 'Cormorant Garamond', serif; /* Harmonizando com capitais */
  background-color: #f7f7f7; /* Fundo claro */
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #61992d; /* Verde padrão */
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.8rem;
}

/* Navegação principal */
nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
  background-color: #e3e6d7;
  border-bottom: 2px solid #61992d;
}

nav a {
  text-decoration: none;
  color: #3b5323;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #91b86d; /* Hover verde claro */
  color: white;
}

nav a:active {
  background-color: #61992d;
  color: white;
}

nav a:last-child {
  background-color: #91b86d;
  color: white;
  border-radius: 10px;
}

nav a:last-child:hover {
  background-color: #61992d;
}

/* Container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Seções */
.section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #3b5323;
  margin-bottom: 10px;
}

/* Aside esquerdo e direito */
.aside-left,
.aside-right {
  padding: 20px;
  background-color: #d4e1c7; /* Verde suave */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.aside-left h3,
.aside-right h3 {
  color: #3b5323;
}

.aside-left p,
.aside-right p {
  text-align: justify;
}

/* Tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #e3e6d7;
  color: #3b5323;
}

td {
  color: #333;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #61992d; /* Verde padrão */
  color: white;
  margin-top: 20px;
}

/* Conteúdo principal */
main {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 5px;
}

.content p {
  text-align: justify;
}
